In [ ]:
!pip install pyspark

In [13]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

#### Сперва создадим функцию sequence_transform которая превратит последовательность типа [123987345] в [[1,2,3],[987],[345]]

In [22]:
def sequence_transform(source_sequence):
    result = []
    current_subsequence = []
    for num in source_sequence:
        if current_subsequence and num < current_subsequence[-1]:
            result.append(current_subsequence)
            current_subsequence = []
        current_subsequence.append(num)
    if current_subsequence:
        result.append(current_subsequence)
    return result

In [40]:
# Создаем упорядоченную последовательность чисел от 1 до 10 и повторяем ее несколько раз
sc = SparkContext("local", "longest_sequence")
data = [1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
data = sequence_transform(data)
rdd = sc.parallelize(data)

# Находим самую длинную последовательность
longest_sequence = rdd.max()

print("Самая длинная последовательность чисел: {}".format(longest_sequence))

Самая длинная последовательность чисел: [1, 2, 3, 4, 5, 6]

In [39]:
# Останавливаем SparkContext
sc.stop()