In [2]:
#Устанавливаем pySpark
!pip install pyspark >> None

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnull
import pandas as pd

In [4]:

# Создаем SparkSession
spark = SparkSession.builder.appName("EmployeeSalaryAnalysis").getOrCreate()

# Создаем DataFrame из данных
data = {'id': [1, 2, 3, 4],
        'Name': ['Joe', 'Henry', 'Sam', 'Max'],
        'Salary':['70', '80', '60', '90'],
        'ManagerId':['3', '4', None, None]}


data = pd.DataFrame(data)


df = spark.createDataFrame(data)

# Преобразуем столбец Salary в числовой тип
df = df.withColumn("Salary", col("Salary").cast("int"))

# Фильтруем сотрудников, у которых ManagerId is NULL
managers_df = df.filter(isnull(col("ManagerId")))
a = df.select('Name')

# Создаем self-join таблицы для сравнения зарплат с менеджерами
joined_df = df.alias("emp").join(df.alias("mgr"),
                                 col("emp.ManagerId") == col("mgr.id"),
                                 "left_outer").filter(col("emp.Salary") > col("mgr.Salary"))

result = joined_df.select("emp.Name")



# Выводим результат
result.show()

# Останавливаем SparkSession
spark.stop()

+----+
|Name|
+----+
| Joe|
+----+